<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="width=device-width, initial-scale:1.0">
		<meta name="author" content="timeDoBalacobaco">
		<link rel="stylesheet" href="/public/css/styles.css">
		<title>HandlerFriendsPage</title>
	</head>
	 <body class="bg-cover bg-fixed min-h-screen flex items-center justify-center bg-gradient-to-br from-[#020617] via-[#0a1a2f] to-[#0f172a]">
                <div class="z-10 relative bg-white/50 backdrop-blur-sm rounded-xl shadow-md p-6">
			<h2>Friends Page</h2>
			<section>
				<nav>
					<a href="/home">Home</a>
					<a href="/seeAllUsers">See All Users</a>
					<br>
				</nav>
			</section>
			<% if (error && error.length > 0) { %>
				<% error.forEach(err => { %>
					<p style="color: red"><strong><%= err %> </strong></p>
				<% }) %>
			<% } %>
			<% if (success && success.length > 0) { %>
				<% error.forEach(suc => { %>
					<p style="color: green"><strong><%= suc %> </strong></p>
				<% }) %>
			<% } %>
			<% if (friends && friends.length > 0) { %>
				<% friends.forEach(fri => { %>
					<div class="flex gap-4 items-center min-w-100 z-10 relative bg-white/50 backdrop-blur-sm rounded-xl shadow-md p-6">
						<img src=" <%= fri.avatar %>" width='60' height='60'>
						<a href="/seeProfile?user=<%=fri.public_id%>"><%= fri.username %></a>
						<p style="color: Blue"><strong>Friends</strong></p>
						<% if (fri.isOnline) { %>
							<p style="color: green"><strong>Online</strong></p>
						<% } else { %>
							<p style="color: red"><strong>Offline</strong></p>
						<% } %>
						<form action="/deleteAFriend" method="POST">
							<input type="hidden" name="public_id" value="<%= fri.public_id %>">
							<button type="submit" class="cursor-pointer bg-red-600 text-black font-semibold px-5 py-2 rounded-lg shadow-md hover:bg-red-700 hover:shadow-lg transition-all duration-200"><strong>Delete</strong></button>

						</form>
					</div>
					<% }) %>
			<% } %>
			<% if (pendings && pendings.length > 0) { %>
				<% pendings.forEach(ped => { %>
					<div class="flex gap-4 items-center min-w-100 z-10 relative bg-blue/50 backdrop-blur-sm rounded-xl shadow-md p-6">
						<img src=" <%= ped.avatar %>" width='60' height='60'>
						<a href="/seeProfile?user=<%=ped.public_id%>"><%= ped.username %></a>
						<p style="color: orange"><strong>Pending</strong></p>
						<% if (ped.isOnline) { %>
							<p style="color: green"><strong>Online</strong></p>
						<% } else { %>
							<p style="color: red"><strong>Offline</strong></p>
						<% } %>
						<form action="/setAcceptFriend" method="POST">
							<input type="hidden" name="public_id" value="<%= ped.public_id %>">
							
							<button type="submit" class="cursor-pointer bg-green-600 text-black font-semibold px-5 py-2 rounded-lg shadow-md hover:bg-green-700 hover:shadow-lg transition-all duration-200"><strong>Accept</strong></button>
						</form>
						<form action="/deleteAFriend" method="POST">
							<input type="hidden" name="public_id" value="<%= ped.public_id %>">
							<button type="submit" class="cursor-pointer bg-red-600 text-black font-semibold px-5 py-2 rounded-lg shadow-md hover:bg-red-700 hover:shadow-lg transition-all duration-200"><strong>Reject</strong></button>

						</form>
					</div>
				<% }) %>
			<% } %>
			<h6>Time do balacobaco</h6>
	</body>
</html>
