<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/styles.css">
		<title>Welcome to our Pong Transcendence Game</title>
	</head>
	<body class="bg-cover bg-fixed bg-fixed min-h-screen flex items-center justify-center bg-gradient-to-br from-[#020617] via-[#0a1a2f] to-[#0f172a]">
		<div class="z-10 relative bg-white/50 backdrop-blur-sm rounded-xl shadow-md p-6">
		<main>
			<header>
				<nav>
					<a href="/logout">Logout</a>
					<a href="/confirmUserEmail">Confirm your email</a>
					<a href="/changeUsername">Change Username</a>
					<a href="/changeNickname">Change Nickname</a>
					<a href="/changeEmail">Change Email</a>
					<a href="/changeYourPassword">Change Password</a>
					<a href="/changeDescription">Change Description</a>
					<a href="/deleteUserAccount">Delete Account</a>
					<a href="/seeAllUsers">See All Users</a>
					<a href="/chatAllUsers">Chat</a>
					<a href="/get2FAQrCode">2FA Test</a>
					<a href="/set2FAOnOff">Change 2FA Status</a>
					<a href="/matchMaking">Match Making</a>
					<a href="/handlerFriendsPage">Friends</a>
					<a href="/flappy-bird">Flappy Bird</a>
					<a href="/pong">Pong</a>
				</nav>
			</header>
			<section>
				<img src="<%= avatar %>" alt="avatar">
				<form action="/upload" method="POST" enctype="multipart/form-data">
                                        <label for="avatar">ChangeAvatar:</label><br>
                                        <input type="file" id="avatar" name="avatar" accept="image/*" placeholder="choose an image" required><br><br>
                                        <button type="submit">Change Avatar</button>
                                </form>
			</section>
			<section>
				<h2>Welcome to your exclusive account <strong><%= username %></strong> !!!</h2>
			</section>
			<section>
				<% if (success && success.length > 0) { %>
					<% success.forEach(suc => { %>
						<p style="color: green"> <%= suc %> </p>
					<% }) %>
				<% } %>
				<% if (error && error.length > 0) { %>
					<% error.forEach(err => { %>
						<p style="color: red"> <%= err %> </p>
					<% }) %>
				<% } %>
				<!-- <% if (data.inQueue) { %>
					<p style="color: orange"><strong>I am waiting for a match</strong></p>
				<% } else { %>
					<p style="color: orange"><strong>I am not waiting for a match</strong></p>
				<% } %>
				<% if (data.inGame) { %>
					<p style="color: purple"><strong>I am in a match</strong></p>
				<% } else { %>
					<p style="color: purple"><strong> I am not in a match</strong></p>
				<% } %> -->
			</section>
			<section>
				<!-- <% if (data.isOnline) { %>
					<p style="color: green"><strong>Online</strong></p>
				<% } else { %>
					<p style="color: red"><strong>Offline</strong</p>
				<% } %> -->
				<p style="color: <%= data.state.colour %>"><strong><%= data.state.text %></strong></p>
				<p><strong>Friends:</strong> <%= data.friends %> </p>
				<% if (data.description) { %>
					<p><strong>Description:</strong> <%= data.description %> </p>
				<% } else { %>
					<p><strong>Description:</strong> You do not have a description </p>
				<% } %>
				<% if (data.isEmailConfirmed) { %>
					<p><strong>IsEmailConfirmed: <span style="color: green">YES</span></strong></p>
				<% } else { %>
					<p><strong>IsEmailConfirmed: <span style="color: red">NO</span></strong></p>
				<% } %>
				<p><strong>Title:</strong> <%= data.title %> </p>
				<p><strong>Ranking:</strong> <%= data.rank %>° </p>
				<p><strong>Experience Points:</strong> <%= data.experience_points %> </p>
				<p><strong>Wins:</strong> <%= data.wins %> </p>
				<p><strong>Losses:</strong> <%= data.losses %> </p>
				<% if ((Number(data.wins) + Number(data.losses)) === 0) { %>
					<p><strong>Win rate:</strong> 0%</p>
				<% } else { %>
					<p><strong>Win rate:</strong> <%= ((Number(data.wins) / (Number(data.wins) + Number(data.losses))) * 100).toFixed(2) %>% </p>
				<% } %>

				<p>Pong is a multiplayer game. You can be happy here.</p>
			</section>
			<footer>
				<h6>Time do Balacobaco</h6>
			</footer>
		</main>
		</div>
	</body>
</html>
